*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.7rem;
    height: 90vh;
    background-color: #fce7e7;
    justify-content: center;
    gap: 3%;
}
h3{
    margin-bottom:50px;
    font-weight: 400;
    text-decoration: underline;
    font-size: 2rem;
}
button {
    font-size: large;
    padding: 0px 12px;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 1px 1px 5px black;
}
button:hover {
    padding: 3px 20px;
    border: 1px solid #ff9393;
    background: azure;
    box-shadow: 1px 1px 2px inset;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
div#watchDisplay {
    padding: 10px 30px;
    font-family: 'DotGothic16', sans-serif;
    background-color: rgb(227, 255, 246);
    border: 1px solid black;
}
a{
    position: absolute;
    top: 0;
    right: 0;
}
.display{
    /* box-shadow: 1px 1px 5px black; */
    box-shadow: 2px 2px 10px -2px black;
    animation-name: animate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
@keyframes animate {
    to{
        background: linear-gradient(45deg,rgb(255, 147, 147), rgb(161, 161, 253), rgb(176, 255, 176));
    }
    from{
        background: linear-gradient(45deg, rgb(176, 255, 176), rgb(255, 147, 147), rgb(161, 161, 253));
    }
}